% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{inets, [
          {services, [
                      {tftpd, [
                               {port, 6969},
                               {debug, all},
                               {callback, {".*", tftp_hello_daemon, []}}
                              ]}
                     ]}
         ]}
].
